*.vs
/packages
/SiteCore.DataAccess/bin
/SiteCore.DataAccess/obj
/SiteCore.Utils/bin
/SiteCore.Utils/obj
/SiteCore.WebApi/bin
/SiteCore.WebApi/obj
/SiteCore.WebApi/Migrations
/SiteCore.WebApi.Tests/bin/Debug/netcoreapp2.1
/SiteCore.WebApi.Tests/obj
